<template>
    <ElCard class="form-card">
        <ElForm :model="formData" :rules="rules" lable-position="top">
            <ElFormItem label="Вид" prop="type">
                <ElSelect class="type-select" v-model="formData.type" placeholder="Choose type...">
                    <ElOption lable="ДОХОДЫ" value="ДОХОДЫ"/>
                    <ElOption lable="РАСХОДЫ" value="РАСХОДЫ"/>
                </ElSelect>
            </ElFormItem>
            <ElFormItem label="Описание" prop="comment">
                    <ElInput v-model="formData.comment"/>
            </ElFormItem>
            <ElFormItem label="Сумма" prop="value">
                    <ElInput v-model.number="formData.value" />
            </ElFormItem>
            <ElButton @click="onSubmit" type="primary">Записать</ElButton>
        </ElForm>
    </ElCard>  
</template>
<script>
export default {
    name: "Form",
    data: () => ({
        formData: {
            type: 'ДОХОДЫ',
            comment: "",
            value: 0
        }
    }),
    rules: {
		comment: [
            {required: true, message: "Введите описание", trigger: 'change'}
        ],
        value: [
            {required: true, message: "Введите сумму", trigger: 'change'},
            {type: 'number', message: "Введите сумму", trigger: 'change'}
        ]
	},
    methods: {
        onSubmit(){},
    },
}
</script>
<style scoped>
    .form-card {
        max-width: 500px;
        margin: auto;
    };
    .type-select {
        width: 100%;
    }
</style>