<template>
    <div class="total-value">Баланс: {{ total }}</div>
</template>

<script>
export default {
    name: 'TotalBalans',
    props: {
        total: {
            type: Number,
            default: 0
        }
    }
}
</script>

<style scoped>
    .total-value {
        font-style: 26px;
        text-transform: uppercase;
        padding: 20px;
        text-align: center;
    }
</style>