<template>
    <div class="wallet-list-wrap">
        <ElCard :header="header">
            <template v-if="!isEmpty">
                <div class="list-item" v-for="(item, prop) in list" :key="prop">
                <span class="butget-comment">{{ item.comment }}</span>
                <span class="butget-value">{{ item.value }}</span>
                <ElButton type="danger" size="mini" @click="deleteItem(item.id)">Удалить</ElButton>
                </div>
            </template>
            <ElAlert v-else type="info" :title="emptyTitle" :closable="false"/>
        </ElCard>
    </div>
</template>

<script>
export default {
    name: "WalletList",
    props: {
        list: {
            type: Object,
            default: () => ({})
        }
    },
    data: () => ({
        header: "Список доходов-расходов",
        emptyTitle: "Список пустой"
    }),
    computed: {
        isEmpty() {
        return !Object.keys(this.list).length;
        }
    }, 
    methods: {
        deleteItem (id){
            this.$emit('deleteItem', id);
        }
    }
}
</script>

<style scoped>
    .wallet-list-wrap {
        max-width: 500px;
        margin: auto;
    }
    .list-item {
        display: flex;
        align-items: center;
        padding: 10px 15px;
    }
    .butget-value {
        font-weight: bold;
        margin-left: auto;
        margin-right: 20px;
    }
</style>