<template>
	<div id="app">
		<Form />
		<TotalBalans :total="TotalBalans"/>
		<WalletList :list="list" @deleteItem="onDeleteItem"/>
	</div>
</template>

<script>
import WalletList from './components/WalletList'
import TotalBalans from './components/TotalBalans';
import Form from './components/Form'

export default {
	name: 'app',
	components: {
		WalletList,
		TotalBalans,
		Form
	},
	data: () => ({
		list: {
			1: {
				type: 'INCOME',
				value: 100,
				comment: 'Приход',
				id: 1
			},
			2: {
				type: 'OUTCOME',
				value: -50,
				comment: 'Расход',
				id: 2
			}
		}
	}),
	computed: {
		TotalBalans (){
			return Object.values(this.list).reduce((acc, item) => acc + item.value, 0)
		}
	},
	methods: {
		onDeleteItem (id) {
			this.$delete(this.list, id);
		}
	}
}
</script>

<style>
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}
</style>
